@model Proyecto_Gestion_TI.Models.Empleado
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";    
}

<div class="login_form">
    @using (Html.BeginForm("Index", "Login", FormMethod.Post))
    {
        @if (@ViewBag.Mensaje != null)
        {
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.Mensaje
            </div>
        }

        <form >
            <fieldset>
                <div class="field">
                    <label class="label_field">Correo</label>
                    @Html.TextBoxFor(m => m.Correo, new{placeholder="Correo Electronico", type="email"})
                </div>
                <div class="field">
                    <label class="label_field">Contrasena</label>
                    @Html.TextBoxFor(m => m.Contrasena, new{placeholder="Contrasena", type="password"})
                </div>
                <div class="field margin_0">
                    <label class="label_field hidden">hidden label</label>
                    <button class="main_bt" asp-area="" asp-controller="Login" asp-action="Index">Iniciar Sesion</button>
                </div>
            </fieldset>
        </form>
    }
</div>
