@*@model IEnumerable<Proyecto_Gestion_TI.Models.ComentariosConsulta>*@
        
<div class="col-md-12">
    <div class="white_shd full margin_bottom_30">
        <div class="full graph_head">
            <div class="heading1 margin_0">
            <h2>Comentarios</h2>
            </div>
        </div>
        <div class="full progress_bar_inner">
            <div class="row">
                <div class="col-md-12">
                    <div class="msg_section">
                        <div class="msg_list_main">
                            <ul class="msg_list">
                            <li>
                                <span><img src="~/images/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                <span>
                                <span class="name_user">John Smith</span>
                                <span class="msg_user">Sed ut perspiciatis unde omnis.</span>
                                <span class="time_ago">12 min ago</span>
                                </span>
                            </li>
                            <li>
                                <span><img src="~/images/layout_img/msg3.png" class="img-responsive" alt="#" /></span>
                                <span>
                                <span class="name_user">John Smith</span>
                                <span class="msg_user">On the other hand, we denounce.</span>
                                <span class="time_ago">12 min ago</span>
                                </span>
                            </li>
                            <li>
                                <span><img src="~/images/layout_img/msg2.png" class="img-responsive" alt="#" /></span>
                                <span>
                                <span class="name_user">John Smith</span>
                                <span class="msg_user">Sed ut perspiciatis unde omnis.</span>
                                <span class="time_ago">12 min ago</span>
                                </span>
                            </li>
                            <li>
                                <span><img src="~/images/layout_img/msg3.png" class="img-responsive" alt="#" /></span>
                                <span>
                                <span class="name_user">John Smith</span>
                                <span class="msg_user">On the other hand, we denounce.</span>
                                <span class="time_ago">12 min ago</span>
                                </span>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
