<!DOCTYPE html>
<html lang="en">
    <head>

          <meta charset="utf-8">
          <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="viewport" content="initial-scale=1, maximum-scale=1">
          <title>Gestion TI - RRHH</title>
          <meta name="keywords" content="">
          <meta name="description" content="">
          <meta name="author" content="">
          <link rel="icon" href="~/images/fevicon.png" type="image/png" />
          <link rel="stylesheet" href="~/css/bootstrap.min.css" />
          <link rel="stylesheet" href="~/css/style.css" />
          <link rel="stylesheet" href="~/css/responsive.css" />
          <link rel="stylesheet" href="~/css/colors.css" />
          <link rel="stylesheet" href="~/css/bootstrap-select.css" />
          <link rel="stylesheet" href="~/css/perfect-scrollbar.css" />
          <link rel="stylesheet" href="~/css/custom.css" />
          <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
          <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
          <![endif]-->

    </head>
    <body class="dashboard dashboard_1">
        <div class="full_container">
            <div class="inner_container">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar_blog_1">
                    @*<div class="sidebar-header">
                        <div class="logo_section">
                        <a><img class="logo_icon img-responsive" src="~/images/logo/logo_icon.png" alt="#" /></a>
                        </div>
                    </div>*@
                    <div class="sidebar_user_info">
                        <div class="icon_setting"></div>
                        <div class="user_profle_side">
                        <div class="user_img"><img class="img-responsive" src="~/images/layout_img/user_img.jpg" alt="#" /></div>
                        <div class="user_info">
                            <h6>@ViewBag.Nombre</h6>
                            <p><span class="online_animation"></span> Online</p>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="sidebar_blog_2">
                    <h4>General</h4>
                    <ul class="list-unstyled components">
                    
                        <li><a asp-area="" asp-controller="Home" asp-action="Index"><i class="fa fa-clock-o orange_color"></i> <span>Inicio</span></a></li>                  
                        <li><a href="#"><i class="fa fa-map purple_color2"></i> <span>Solicitud de Vacaciones</span></a></li>

                        <li>
                            <a href="#consulta" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-inbox green_color"></i> <span>Consulta</span></a>
                            <ul class="collapse list-unstyled" id="consulta">
                                <li><a asp-area="" asp-controller="Consulta" asp-action="Index">> <span>Consultas</span></a></li>
                                <li><a asp-area="" asp-controller="HistorialConsulta" asp-action="Index">> <span>Historial</span></a></li>                                
                            </ul>
                        </li>

                        @if(ViewBag.Tipo == "Administrador")
                        {
                            <li>
                                <a href="#element" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-cog yellow_color"></i> <span>Configuracion</span></a>
                                <ul class="collapse list-unstyled" id="element">
                                    <li><a >> <span>Departamento</span></a></li>
                                    <li><a asp-area="" asp-controller="Puesto" asp-action="Index">> <span>Puesto</span></a></li>
                                    <li><a >> <span>Tipo de Usuario</span></a></li>
                                    <li><a >> <span>Ruta de Aprobaciones</span></a></li>
                                </ul>
                            </li>   
                        }
                            

                    
                    </ul>
                </div>
            </nav>
            <!-- end sidebar -->
            <!-- right content -->
            <div id="content">
                <!-- topbar -->
                <div class="topbar">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <div class="full">
                        <button type="button" id="sidebarCollapse" class="sidebar_toggle"><i class="fa fa-bars"></i></button>
                        @*<div class="logo_section">
                            <a href="#"><img class="img-responsive" src="~/images/logo/logo.png" alt="#" /></a>
                        </div>*@
                        <div class="right_topbar">
                            <div class="icon_info">
                                <ul>
                                    <li><a href="#"><i class="fa fa-bell-o"></i><span class="badge">2</span></a></li>
                                    <li><a href="#"><i class="fa fa-question-circle"></i></a></li>
                                    <li><a href="#"><i class="fa fa-envelope-o"></i><span class="badge">3</span></a></li>
                                </ul>
                                <ul class="user_profile_dd">
                                    <li>
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="~/images/layout_img/user_img.jpg" alt="#" /><span class="name_user">@ViewBag.Nombre</span></a>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="#">Mi perfil</a>
                                        <a class="dropdown-item" href="#">Configuraciones</a>
                                        <a class="dropdown-item" href="#">Ayuda</a>
                                        <a class="dropdown-item" a asp-area="" asp-controller="Login" asp-action="Index"><span>Salir</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        </div>
                    </nav>
                </div>


                <!-- dashboard inner -->
                <div class="midde_cont">
                    <div class="container-fluid">
                        <div class="row column_title">
                        <div class="col-md-12">
                            <div class="page_title">
                                <h2>@ViewBag.Titulo</h2>
                            </div>
                        </div>
                        </div>
                    
                        @*<div class="container-fluid">*@
                            @*<main role="main" class="pb-3">*@
                                @RenderBody()
                            @*</main>*@
                        @*</div>                    *@
                    
                    
                    </div>
                    <!-- footer -->
                    <div class="container-fluid">
                        <div class="footer">
                        <p>Copyright © 2018 Designed by html.design. All rights reserved.<br><br>
                            Distributed By: <a href="https://themewagon.com/">ThemeWagon</a>
                        </p>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
        <!-- jQuery -->
        <script src="~/js/jquery.min.js"></script>
        <script src="~/js/popper.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/animate.js"></script>
        <script src="~/js/bootstrap-select.js"></script>
        <script src="~/js/owl.carousel.js"></script> 
        <script src="~/js/Chart.min.js"></script>
        <script src="~/js/Chart.bundle.min.js"></script>
        <script src="~/js/utils.js"></script>
        <script src="~/js/analyser.js"></script>
        <script src="~/js/perfect-scrollbar.min.js"></script>
        <script>
            var ps = new PerfectScrollbar('#sidebar');
        </script>
        <script src="~/js/chart_custom_style1.js"></script>
        <script src="~/js/custom.js"></script>
    </body>

</html>
