@model Proyecto_Gestion_TI.Models.Vacacione

@{
    ViewBag.Titulo = "Modificar";
}

<div class="row">

	<div class="col-md-4">

        @if (@ViewBag.Mensaje != null)
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                @ViewBag.MensajeA
            </div>
        }

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoVacacion" />
            <div class="form-group">
                <label asp-for="Anios" class="control-label"></label>
                <input asp-for="DiaSegunAnio" class="form-control" />
                <span asp-validation-for="Anios" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Modificar" class="btn btn-primary" />
                <a class="btn btn-info btn-small" asp-area="" asp-controller="Vacaciones" asp-action="Edit">
                     <span>Regresar</span>
                </a>
            </div>
        </form>
    </div>



</div>
